###########
# ejemplo #
###########

# APP
APP_PORT=8000

# SEGURIDAD
SECRET_KEY=cambia-esto-por-una-clave-larga

# SUPERUSUARIO
ADMIN_USER=admin
ADMIN_PASSWORD=admin

# LIMITES
MAX_FILE_SIZE_MB=5
MAX_CONCURRENT=5

#Hugging Face
HF_TOKEN=aca-va-el-token

# WHISPER
DISABLE_WHISPER=false

#WHISPER_MODEL=large-v3-turbo
WHISPER_MODEL=tiny

WHISPER_DEVICE=cuda
WHISPER_COMPUTE_TYPE=float16
WHISPER_CPU_THREADS=2
WHISPER_NUM_WORKERS=1
