#
# ejemplo
#

# APP
APP_PORT=8000

# SEGURIDAD
SECRET_KEY=cambia-esto-por-una-clave-larga

# SUPERUSUARIO
ADMIN_USER=admin
ADMIN_PASSWORD=admin

# LIMITES
MAX_FILE_SIZE_MB=5
MAX_CONCURRENT=5

# WHISPER
WHISPER_MODEL=large-v3-turbo

#Hugging Face
HF_TOKEN=tat

DISABLE_WHISPER=true