# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos
.venv/
venv/
env/

# Variables sensibles
.env

# Ignorar todo dentro de data
data/**

# Pero conservar la estructura de carpetas
!data/
!data/uploads/
!data/outputs/
!data/history_audio/
!data/history_text/
!data/db/

# Y conservar solo los .gitkeep
!data/uploads/.gitkeep
!data/outputs/.gitkeep
!data/history_audio/.gitkeep
!data/history_text/.gitkeep
!data/db/.gitkeep